*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

nav{
    margin-top: 1rem;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

.left-navbar{
  float: left;
  margin-left: 1rem;
}

.right-navbar-items{
    float: right;
    margin-right: 1rem;
}

#menu-icon{
    height: 1rem;
    width: 1rem;
}

#search-bar{
    padding: 10rem 0 10rem 0;
    align-items: center;
}

p{
    margin-left: 1rem;
}

#footer{
    position: absolute;
    width: 100%;
    bottom: 0;
}

form > input{
    display: block;
}

form > button{
    display: inline-block;
}

.footer-links{
    float: left;
    margin-left: 1rem;
    margin-bottom: 1rem;
}

.footer-links-right{
    float: right;
    margin-right: 1rem;
    margin-bottom: 1rem;
}