*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: arial, 'Times New Roman', Times, serif;
}

nav{
    font-size: 12px;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}


.left-navbar{
    display: inline-block;
    margin-left: 1rem;
    vertical-align: middle;
}

.right-navbar-items{
    display: inline-block;
    margin-right: 1rem;
    vertical-align: middle;
    
}

#menu-icon{
    margin-top: 30px;
    height: 19px;
    width: 19px;
    display: inline-block;
    vertical-align: middle;
    opacity: .55;
}

#right-nav{
    text-align: right;
}

#search-bar{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10rem 0 10rem 0;
    text-align: center;  
    margin-bottom: 0px;
}


[type~="submit"]{
    border: none;
    background-color: #f8f9fa;
    padding: 7px 14px 7px 14px;
    margin-left: 10px;
    margin-top: 20px;
}

[type~="text"]{
    border-radius: 20px;
    border: 1px solid #d6d8da;
    padding: 12px 40px 12px 40px;
    margin-bottom: 1rem;
    background-color: #fff;
}

img{
    margin-bottom: 2rem;
}

#canada{
    margin: 1rem 0 1rem 1rem;
}

#footer-footer{
    position: absolute;
    bottom: 0;
    background-color: rgb(243, 242, 242);
    width: 100%;
}

#footer{
    border-top: 1px solid rgb(206, 203, 203);
}

#search-buttons{
   justify-content: center;
}

#footer-container{
    border-top: 1px solid rgb(206,203,203);
    background-color: rgb(243, 242, 242);
}

#french-link{
    padding-top: 2rem;
    margin-top: 0;
    margin-right: 100px;
    display: inline;
    text-align: center;
    font-size: 12px;
}

.footer-links{
    float: left;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
}

.footer-links-right{
    float: right;
    margin-top: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

button{
    color:white;
    background-color: #4683ea;
    font-weight: bold;
    padding: 7px 15px 7px 15px;
    margin-top: none;
    border: none;
    border-radius: 1px;
}